body {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(220, 220, 0, 1));
  background-repeat: none;
  color: white;
  padding: 50px 10px 100%;
}

h1 {
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  padding-top: 10px;
  font-size: 35px;
}

.navBar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  text-justify: inline;
  font-size: 20px;
}

ul {
  padding-inline-start: 0;
}


.section {
  list-style: none;
  display: inline-block;
  padding: 0px 5%;
  color: rgba(220, 220, 220, 0.8);
}

.home {
  list-style: none;
  display: inline-block;
  position: fixed;
  top: auto;
  left: 50px;
  color: rgba(220, 220, 220, 0.8);
}

span {
  font-size: auto;
  cursor:pointer;
  position: fixed;
  top: 17px;
  left: 10px;
}

.section:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.home:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

a:active {
  color: white;
}

a:link {
  color: rgba(220, 220, 220, 0.8);
  text-decoration: none;
}

a:visited {
  color: rgba(220, 220, 220, 0.8);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#index {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 0;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.75);
  text-align: left;
  overflow-x: hidden;
  transition: 0.5s;
}

#main {
  transition: 0.5s;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  text-align: right;
}

.part {
  list-style: none;
  padding: 10px 20px;
  color: rgba(220, 220, 220, 0.8);
  display: block;
  transition: 0.3s;
  font-size: 20px;
}
